/*@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");*/
body{
    font-family: "Montserrat", sans-serif;
}
.header {
    padding-bottom: 244px;
    background-image: url(section-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.container {
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
}
.btn-wrapper{
   /* display: inline-block;*/
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;

}

#load-btn {
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    padding: 25px 0;
    padding-left: 55px;
    padding-right: 20px;
    border-width: 0;
    border-radius: 4px;
    background-color: #18cfab;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

#load-btn::before {
    content: url(./plus-16.ico);
    position: absolute;
    left: 22px;
}

#load-btn.hidden {
    display: none;
}

.header-top {
    height: 120px;
    background-color: rgba( 0, 0,0, 0.5);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.h-logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 31px;
    /*user-select: none;*/
    text-decoration: none;
}

.logo-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 58px;
    height: 67px;
    background-color: #18cfab;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.logo-colored {
    color: #18cfab;
    font-weight: 700;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-list {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    list-style-type: none;
}

.menu-item {
    padding: 30px 0;
    margin-right: 20px;
}

.link {
    position: relative;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}
.link:hover {
    color: #18cfab;
}
.link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -52px;
    height: 2px;
    width: 100%;
    background-color: #18cfab;
}
.section-4__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    position: relative;
    display: flex;
    height: 370px;
    background-color: #1c2a33;
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

}

.section-4__item::after {
    position: absolute;
    left: 0;
    top: -5px;
    width: 100%;
    height: 5px;
    content: "";
    background-color: #18cfab;
}

.section-4__item.item-colored::after {
    position: absolute;
    left: 0;
    top: -5px;
    width: 100%;
    height: 5px;
    content: "";
    background-color: #ffffff;
}

.item-colored {
    background-color: #18cfab;
    color: #ffffff;
}

.section-4__icon-wrapper {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__upper-heading {
    margin-top: 246px;

    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.header__text-colored {
    color: #18cfab;
}

.header__heading {
    margin-top: 45px;
    color: #ffffff;
    font-size: 79px;
    font-weight: 700;
    text-align: center;
}

.header__under-heading {
    margin-top: 37px;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    text-align: center;
}

.header__btn {
    display: inline-block;
    margin: 0 15px;
    padding: 26px 0;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    width: 166px;
    cursor: pointer;
    color:#fff;
    border-radius: 4px;
    box-shadow: 0 -4px #fff;
}
.header__btn_explore {
    background-color: #18cfab;
}

.header__btn_purchase {
    background-color: #00cbf6;
}

.header__btns-wrapper {
    margin-top: 146px;
    text-align: center;
}

.work {
    padding: 100px 0;
    text-align: center;
    background-color: #f8fcfe;
}

.work-heading {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.work-tab-bar {
    display: flex;
    justify-content: center;
}

.work-tab {
    position: relative;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ececec;
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
}

.work-tab.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 2px;
    background-color: #18cfab;
}

.work-tab.active {
    color: #18cfab;
}

.work-item-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 71px;
}

.work-item {
    position: relative;
    width: 286px;
    height: 208px;
    background-color: #f8fcfe;
}

.work-item-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 46px;
}
.icons{
    padding: 32px 0;
}

.icon-link, .icon-magnifing{
    width: 41px;
    height: 41px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #27d2b1;
}

.icon-link{
    position: absolute;
    left:100px;
}

.icon-magnifing{
    position: relative;
    left:27px;
    background-color: #27d2b1;
}


.fa {
    color:#22dab6;
    position: absolute;
    top:12px;
    left:14px;
}

.fas.icon{
    position: absolute;
    top:12px;
    left:11px;
    color:#fff
}
.work-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 40px;
    border-radius: 50%;
}
.work-item-icon:last-child {
    margin-left: 5px;
}
.work-icon-chain {
    border: 1px solid #18cfab;
    background-color: white;
}
.work-icon-search {
    background-color: #18cfab;
}
.work-item-header {
    margin-top: 34px;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
}

.work-item-description {
    margin-top: 13px;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
}

.work-item-img {
    position: absolute;
    top: 0;
    left: 0;
}

.hide{
    display: none;
}

.work-item:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 100%;
    height: 3px;
    background-color: #18cfab;
}
.work-item:hover .work-item-img {
    opacity: 0;
}
.work-item.hidden {
    display: none;
}

.footer-text {
    margin: 0;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.footer-text-colored {
    color: #18cfab;
}

.footer {
    background-color: #22353f;
    padding: 47px 0;
}

.heading-underline {
    position: relative;
    margin-top: 0;
    margin-bottom: 100px;
}

.heading-underline::before {
    content: " ";
    position: absolute;
    display: block;
    bottom: -35px;
    left: 50%;
    height: 1px;
    width: 75px;
    background-color: #18cfab;
    transform: translate(-50%, 0);
}

.heading-underline::after {
    content: " ";
    position: absolute;
    display: block;
    bottom: -40px;
    left: calc(50% + 15px);
    height: 1px;
    width: 75px;
    background-color: #18cfab;
    transform: translate(-50%, 0);
}

.section-4 {
    display: flex;
}

.our-services {
    margin-top: 85px;
    margin-bottom: 100px;
}
.our-services__heading {
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}

.heading-underline {
    position: relative;
    margin-top: 0;
    margin-bottom: 100px;
}
.heading-underline::before {
    content: " ";
    position: absolute;
    display: block;
    bottom: -35px;
    left: 50%;
    height: 1px;
    width: 75px;
    background-color: #18cfab;
    transform: translate(-50%, 0);
}
.heading-underline::after {
    content: " ";
    position: absolute;
    display: block;
    bottom: -40px;
    left: calc(50% + 15px);
    height: 1px;
    width: 75px;
    background-color: #18cfab;
    transform: translate(-50%, 0);
}
.our-services__tabs {
    display: table;
    width: 100%;
}

.our-services__tabs-bar {
    display: table-row;
    justify-content: space-between;
}

.our-services__tab {
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    width: 16.6%;
    padding: 20px 0;
    color: #717171;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;

}
.our-services__tab.active {
    color: white;
    background-color: #18cfab;
    outline: 0;
}

.our-services__tab.active:before {
    display: block;
}
.our-services__tab::before {
    content: " ";
    position: absolute;
    display: none;
    bottom: -35px;
    left: 50%;
    border: 20px solid transparent;
    border-top: 15px solid #18cfab;
    transform: translate(-50%, 0);
}

.our-services__tab-content {
    display: none;
    margin-top: 30px;
}
.our-services__tab-content.active {
    /*display: block;*/
    display: flex;
    justify-content: space-between;

}
.our-services__tab-content img {
    margin-right: 20px;
    display: inline-block;
    width: 195px;
    height: 142px;
    padding: 1px;
}
.our-services__tab-content p {
    margin: 0;
    line-height: 1.6;
    font-size: 14px;
    display: inline-block;
    width: 79%;
    vertical-align: top;
    text-align: left;
}

.news-heading {
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}
.purchase {
    position: relative;
    height: 475px;
    background: url(section-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
.purchase::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.purchase .container {
    width: 100%;
    position: relative;
    padding-top: 120px;
    z-index: 3;
}
.purchase-heading {
    font-size: 40px;
    color: #18cfab;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}
.purchase-description {
    color: #d8d8d8;
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
}
.purchase-link {
    display: inline-block;
    margin: 0 auto;
    /*display: block;*/
    padding: 26px 0;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 166px;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 -4px #fff;
    background-color: #18cfab;
}

.news {
    padding-top: 80px;
    padding-bottom: 85px;
}
.news-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-element {
    width: calc(25% - 30px);
    margin-right: 30px;
    margin-bottom: 45px;
}
.news-element:nth-child(4n) {
    margin-right: 0;
}
.news-preview {
    position: relative;
}
.news-image {
    display: block;
    width: 100%;
    max-width: 100%;
}
.news-pub-date {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 10px;
    width: 65px;
    height: 65px;
    background-color: #203e38;
    color: white;
}
.news-info {
    display: block;
    border: 1px solid #ececec;
    background-color: #f8fcfe;
    padding: 13px 0 10px 13px;
}
.news-name {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #717171;
}
.news-details {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #717171;
}
.news-element:hover .news-pub-date {
    background-color: #18cfab;
}
.news-element:hover .news-name {
    color: #18cfab;
}
.about-us {
    padding: 100px 0;
    background-image: url(section-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us img {
    display: inline-block;
}

.about-us-title {
    text-align: center;
    width: 100%;
    margin-bottom: 142px;
}

.about-us-title .titles {
    color: #fff;
    font-size: 36px;
    line-height: 40px;
    font-family:"Montserrat";
    font-weight: 400;
    text-align: center;
}

.arrows {
    top: 14px;
    width: 30px;
    height: 30px;
    /*padding-top: 20px;*/
    border: 1px solid #bbbbbb;
    background-image: url(arrAbout.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: .6;
}


#prev {
    transform: rotate(180deg);
    justify-self: end;
}

#next {
    justify-self: baseline;
}

.arrows:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    opacity: 1;
}

.about-us-slide {
    text-align: center;
}

.slide-text {
    color: #bbbbbb;
    position: relative;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 43px;
}

.slide-text::before {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 44px;
    height: 30px;
    display: inline-block;
    background-image: url(quats.png);
    background-repeat: no-repeat;
    background-position: center;
}

.employee-name {
    color: #18cfab;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.employee-position {
    font-family: "Montserrat";
    font-weight: 300;
    color: #bbbbbb;
    margin-bottom: 37px;
}

.slider-controll {
    margin-top: 70px;
    position: relative;
}

.slider-dots {
    display: flex;
    margin: 0 335px;

    position: relative;
    justify-content: space-between;
}

.employee-img {
    -webkit-box-shadow: 0 0 0 10px rgba(31,218,181,0.2);
    -moz-box-shadow: 0 0 0 10px rgba(31,218,181,0.2);
    box-shadow: 0 0 0 10px rgba(31,218,181,0.2);
    border-radius: 50% 50%;
    border: 3px solid #18cfab;
    width: 149px;
    height: 149px;
}

.slider-dot img {
    -webkit-box-shadow: 0 0 0 5px rgba(31,218,181,0.2);
    -moz-box-shadow: 0 0 0 5px rgba(31,218,181,0.2);
    box-shadow: 0 0 0 5px rgba(31,218,181,0.2);
    border-radius: 50% 50%;
    border: 1px solid #18cfab;

}

.slider-dot {
    position: relative;
    top: 0;
    transition: all .3s linear
}

.slider-dot:hover {
    top: -15px;
}

.slider-dot-active {
    top: -15px;
}

.about-us-slides {
    height: 351px;
    position: relative;
}

.about-us-slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s linear;
}

.current-slide {
    opacity: 1;
    transition: opacity .4s linear;
}

